name: Build Rust Project

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - aarch64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          - aarch64-unknown-linux-musl
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Cross build (release)
        uses: zijiren233/cargo-cross@v1
        with:
          command: build
          profile: release
          targets: ${{ matrix.target }}
      - name: Upload binary
        uses: actions/upload-artifact@v6
        with:
          name: iptv-${{ matrix.target }}
          path: |
            target/${{ matrix.target }}/release/iptv
          retention-days: 7
    
