name: Build Docker Image

on:
  workflow_dispatch:

env:
  LATEST_TAG: "0.2.3"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Get Latest Release Version
        id: get_version
        run: |
          # 使用 GitHub API 获取最新 tag 名 (例如 0.2.3)
          LATEST_TAG=$(curl -s https://api.github.com/repos/yujincheng08/rust-iptv-proxy/releases/latest | jq -r .tag_name)
          echo "LATEST_TAG=${LATEST_TAG}" >> $GITHUB_ENV
          echo "VERSION_TAG=${LATEST_TAG}" >> $GITHUB_OUTPUT
          echo "检测到最新版本为: ${LATEST_TAG}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          # 只打包这两种架构
          platforms: linux/amd64,linux/arm64
          push: true
          # 镜像 tag 同时支持 latest 和 APP_VERSION
          tags: |
            ghcr.io/${{ github.repository_owner }}/rust-iptv-proxy:latest
            ghcr.io/${{ github.repository_owner }}/rust-iptv-proxy:${{ env.LATEST_TAG }}
          build-args: |
            VERSION=${{ env.LATEST_TAG }}
