name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Build (${{ matrix.target }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - aarch64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          - aarch64-unknown-linux-musl
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Cross build (release)
        uses: zijiren233/cargo-cross@v1
        with:
          command: build
          profile: release
          targets: ${{ matrix.target }}
      - name: Prepare binary archive
        shell: bash
        run: |
          set -e
          zip "iptv-${{ matrix.target }}.zip" "target/${{ matrix.target }}/release/iptv"
      - name: Upload zipped binary
        uses: actions/upload-artifact@v6
        with:
          name: iptv-${{ matrix.target }}
          path: |
            iptv-${{ matrix.target }}.zip
          retention-days: 7
        

  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Generate release notes
        uses: orhun/git-cliff-action@v4
        with:
          args: --latest --output RELEASE_NOTES.md
      - name: Download all zipped binaries
        uses: actions/download-artifact@v7
        with:
          path: dist
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/**/*.zip
          body_path: RELEASE_NOTES.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
